{{!< default}}
<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="title">The home of Glassiana!</h1>
			<p>
				I do custom designs on glassware. You can check out my <a class="internal" href="/gallery">gallery</a> to see some of my previous work.
			</p>
			<p>
				I try to attend events and festivals local to San Antonio at least once a month. Keep an eye on this site or on Twitter for my schedule if you're interested in purchasing one of my pieces.
			</p>
			<p>I also do custom work - please feel free to <a class="internal" href="/contact">contact me</a> to find out more. Thanks for checking out the site, and I hope to sell you some glass soon!</p>
		</div>
		<div class="col-sm-4">
			<div id="events" class="section">
				<h3 class="section-title"><span class="glyphicon glyphicon-calendar"></span> Upcoming Events</h3>
				<p>Nov. 3 - First Friday @ Blue Star <a href="https://www.google.com/maps/place/Blue+Star+Complex/@29.4094296,-98.4961051,19.25z/data=!4m12!1m6!3m5!1s0x865c58bb2e990ded:0x6ede6270fd33d7d0!2sBlue+Star+Brewing+Company!8m2!3d29.409524!4d-98.495312!3m4!1s0x865c5f52810ce9ef:0x8e9eca3dd01f232b!8m2!3d29.4095118!4d-98.4958287" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a></p>
				<p>Nov. 4 - Helotes Marketplace <a href="https://www.google.com/maps/place/Helotes+Marketplace/@29.576564,-98.6921057,17z/data=!3m1!4b1!4m5!3m4!1s0x865c68c3ac96e7f1:0x18b58602f60e7a86!8m2!3d29.576564!4d-98.689917" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a></p>
			</div>
			<div id="social" class="section">
				<h3 class="section-title">Social Media</h3>
				<div id="twitter">
					<a class="twitter-timeline" href="https://twitter.com/glassianaart?ref_src=twsrc%5Etfw">Tweets by glassianaart</a> 
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				<div id="instagram">
					<a href="https://www.instagram.com/ariana.aronis/" target="_blank"><img src="/images/instagram.png"></a>
				</div>
			</div>
		</div>
	</div>
</div>
