{{!< default}}
<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="title">The home of Glassiana!</h1>
			<p>
				I do custom designs on glassware. You can check out my <a class="internal" href="/gallery">gallery</a> to see some of my previous work.
			</p>
			<p>
				I try to attend events and festivals local to San Antonio at least once a month. Keep an eye on this site or on Twitter for my schedule if you're interested in purchasing one of my pieces.
			</p>
			<p>I also do custom work - please feel free to <a class="internal" href="/contact">contact me</a> to find out more. Thanks for checking out the site, and I hope to sell you some glass soon!</p>
		</div>
		<div class="col-sm-4">
			<div id="events" class="section">
				<h3 class="section-title"><span class="glyphicon glyphicon-calendar"></span> Upcoming Events</h3>
				<p><small>Check back later...</small></p>
			</div>
			<div id="social" class="section">
				<h3 class="section-title">Social Media</h3>
				<div id="twitter">
					<a class="twitter-timeline" href="https://twitter.com/glassianaart?ref_src=twsrc%5Etfw">Tweets by glassianaart</a> 
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				<div id="instagram">
					<a href="https://www.instagram.com/ariana.aronis/" target="_blank"><img src="/images/instagram.png"></a>
				</div>
			</div>
		</div>
	</div>
</div>
